<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senaify</title>
    <script src="https://kit.fontawesome.com/074d3d1989.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="sidebar">

            <h1 class="title">Senaify</h1>
            <div class="nav-library">
                <i class="fa-solid fa-book"></i>
                <p>Sua biblioteca</p>
            </div>
            <div class="playlists">
                <div class="img-container">
                    <img class="img-playlist" src="assets/Rectangle2.png" alt="img-playlist">
                </div>
                <p>Playlist 1</p>
            </div>
            <div class="playlists">
                <div class="img-container">
                    <img class="img-playlist" src="assets/Rectangle2.png" alt="img-playlist">
                </div>
                <p>Playlist 2</p>
            </div>
            <div class="playlists">
                <div class="img-container">
                    <img class="img-playlist" src="assets/Rectangle2.png" alt="img-playlist">
                </div>
                <p>Playlist 3</p>
            </div>
            <div class="playlists">
                <div class="img-container">
                    <img class="img-playlist" src="assets/Rectangle2.png" alt="img-playlist">
                </div>
                <p>Playlist 3</p>
            </div>
            <div class="playlists">
                <div class="img-container">
                    <img class="img-playlist" src="assets/Rectangle2.png" alt="img-playlist">
                </div>
                <p>Playlist 3</p>
            </div>

        </nav>


        <main>
            <header class="header">
                <div class="header-input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Pesquise por uma musica ou playlist">
                </div>
                <div class="header-user">
                    <i class="fa-solid fa-user"></i>
                    <p>Usuário</p>
                </div>
            </header>

            <section>
                <div class="section-musics">
                    <div class="music-card">
                        <div class="music-image"></div>
                        <p class="music-title">Beat do full stack</p>
                        <p class="music-artist">Dj Ariel</p>
                        <p class="music-artist">Remix:Vinio</p>
                        <p class="music-artist">Prod: Senai</p>
                    </div>
                    <div class="music-card">
                        <div class="music-image"></div>
                        <p class="music-title">Beat do full stack</p>
                        <p class="music-artist">Dj Ariel</p>
                        <p class="music-artist">Remix:Vinio</p>
                        <p class="music-artist">Prod: Senai</p>
                    </div>
                    <div class="music-card">
                        <div class="music-image"></div>
                        <p class="music-title">Beat do full stack</p>
                        <p class="music-artist">Dj Ariel</p>
                        <p class="music-artist">Remix:Vinio</p>
                        <p class="music-artist">Prod: Senai</p>
                    </div>
                    <div class="music-card">
                        <div class="music-image"></div>
                        <p class="music-title">Beat do full stack</p>
                        <p class="music-artist">Dj Ariel</p>
                        <p class="music-artist">Remix:Vinio</p>
                        <p class="music-artist">Prod: Senai</p>
                    </div>
                    <div class="music-card">
                        <div class="music-image"></div>
                        <p class="music-title">Beat do full stack</p>
                        <p class="music-artist">Dj Ariel</p>
                        <p class="music-artist">Remix:Vinio</p>
                        <p class="music-artist">Prod: Senai</p>
                    </div>
                    <div class="music-card">
                        <div class="music-image"></div>
                        <p class="music-title">Beat do full stack</p>
                        <p class="music-artist">Dj Ariel</p>
                        <p class="music-artist">Remix:Vinio</p>
                        <p class="music-artist">Prod: Senai</p>
                    </div>
                    <div class="music-card">
                        <div class="music-image"></div>
                        <p class="music-title">Beat do full stack</p>
                        <p class="music-artist">Dj Ariel</p>
                        <p class="music-artist">Remix:Vinio</p>
                        <p class="music-artist">Prod: Senai</p>
                    </div>
                    <div class="music-card">
                        <div class="music-image"></div>
                        <p class="music-title">Beat do full stack</p>
                        <p class="music-artist">Dj Ariel</p>
                        <p class="music-artist">Remix:Vinio</p>
                        <p class="music-artist">Prod: Senai</p>
                    </div>
                    <div class="music-card">
                        <div class="music-image"></div>
                        <p class="music-title">Beat do full stack</p>
                        <p class="music-artist">Dj Ariel</p>
                        <p class="music-artist">Remix:Vinio</p>
                        <p class="music-artist">Prod: Senai</p>
                    </div>

                </div>
    </div>
    </section>
    </main>

    </div>
</body>

</html>