<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link css rel="stylesheet" href="style.css">
    <title>Primeiro layout</title>
</head>

<body>
    <main>
        <header class="header">

            <p class="logoheader">logo</p>

            <ul class="lIsta">
                <li class="paginas">Pagina 1</li>
                <li class="paginas">Pagina 2</li>
                <li class="paginas">Pagina 3</li>
            </ul>

        </header>
        <div class="imagemeio">
            <img class="imagemdfundo" src="623c962aa169a8622ce48b5613e46a71c4e824e8.jpg" alt="Imagem do meio">
            <p>Imagem do meio</p>
        </div>
        
        <div class="texto">
            <p>Texto do meio</p>
        </div>


    </main>

</body>

</html>