<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link css rel="stylesheet" href="style.css">
    <title>Primeiro layout</title>
</head>

<body>
    
        <header class="header">
           <div class="header-conteudo">
            
            <p class="logoheader">Logo</p>

            <ul class="lIsta">
                <li class="paginas">Pagina 1</li>
                <li class="paginas">Pagina 2</li>
                <li class="paginas">Pagina 3</li>
            </ul>
           </div>
        </header>
        
        <main class="container-image" > 
        <div class="img">
               
        </div >
        <h1 class="caixa-texto">Meu Titulo</h1>
        <h2 class="caixa-texto">Minha descriçao</h2>   


    </main>

</body>

</html>