<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link css rel="stylesheet" href="style.css">
    <title>Primeiro layout</title>
</head>

<body>
    <main>
        <header class="header">

            <p class="logoheader">Logo</p>

            <ul class="lIsta">
                <li class="paginas">Pagina 1</li>
                <li class="paginas">Pagina 2</li>
                <li class="paginas">Pagina 3</li>
            </ul>

        </header>
        <div class="container-image" alt="imagem do meio da tela"></div> 
            <img class="imagemeio" src="623c962aa169a8622ce48b5613e46a71c4e824e8.jpg">                       <!-- devo usar a tag img do html para a imagem do meio ou background image do css???-->                         
                       
        </div>
        
        <div>
            <p class="Texto">Texto do meio</p>
        </div>


    </main>

</body>

</html>