*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{    
    background-color: rgb(0, 132, 255);    
    height: 71px;   }

.header-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    
    
}
.logoheader{
    font-size: 16px;
    color: white;
     display: flex;
    
    font-family: Arial, Helvetica, sans-serif;
    
}
    
.lIsta{
    display: flex;
    
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}




.paginas{
    font-size: 16px;
    color: white;
    margin-right: 20px;
    list-style: none;
    
    
}

.container-image{   
   
   
   

}
.img{
    background-image: url(../1/assets/623c962aa169a8622ce48b5613e46a71c4e824e8.jpg);
width: 80%;
height: 400px;
margin-top: 80px;
margin-left: auto;
margin-right: auto;
margin-bottom: 60px;
background-size: cover;
background-position: center;
}
.caixa-texto{
    
    margin-left: 120px;
    margin-right: 120px;
    
    
    font-family: Arial, Helvetica, sans-serif;
}