<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header class="header">
        <div class="header-conteudo">
            <div>
                <ul>
                    <li class="logo">Logo</li>
                </ul>
            </div>

            <div class="nav-paginas">
                <ul class="lista">
                    <li class="paginas">Pagina 1</li>
                    <li class="paginas">Pagina 2</li>
                    <li class="paginas">Pagina 3</li>
                </ul>
            </div>
        </div>
    </header>

</body>
<main class="main">
    <div class="flex">
        <img src="Rectangle 4.png" alt="Imagem de exemplo" class="imagem">
        <div class="conteudo">
            <h1 class="titulo">Bem-vindo ao nosso site!</h1>
            <p class="texto">Este é um exemplo de página HTML com um cabeçalho e conteúdo principal.</p>
        
    </div>

</main>

</html>