<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 2</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo-header">
                <ul class="elementos-header">
                    <li class="logo">Logo</li>
                </ul>
            </div>
        

        <div class="navegationpages">
            <ul class="elementos-paginas">
                <li class="paginas">Pagina 1</li>
                <li class="paginas">Pagina 2</li>
                <li class="paginas">Pagina 3</li>
            </ul>
        </div>
        </div>
    </header>

    <main class="container-meio">
        <div class="images-container"> 
        <img class="imagem" src="../assets/imgs/Rectangle 4.png" alt="Imagem 1">
        <img class="imagem" src="../assets/imgs/Rectangle 4.png" alt="Imagem 2">
        </div>

    </main>
</body>

</html>