* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.header{    
    
    background-color: #007bff;
    padding: 20px;
    text-align: center;
    color: white;
    }

.title{ 
  font-size: 2rem;

}
.container-meio{    
    
    background-color: bisque;
}
.main{  
    padding: 2%;
}
.secao{ 
 
}
.secao-titulo{  
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #007bff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.secao:first-of-type .secao-titulo {
  margin-top: -20px; /* menos espaço só no primeiro */
}

.cards-container{   
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card-exercicio{    
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 220px;
}
.card-exercicio h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
.card-exercicio p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 15px;
  text-align: center;
}
.card-exercicio button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  
}
.card-exercicio button:hover {
  background-color: #0056b3;
}
